<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>vi</string>
	<key>CFBundleDisplayName</key>
        <string>XPAY Chat</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>XPAY Chat cần dùng camera để gọi video, chụp ảnh hồ sơ và gửi ảnh trong hội thoại.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>XPAY Chat cần vị trí để tìm bạn quanh đây và gửi vị trí hiện tại trong hội thoại.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>XPAY Chat cần micro để gọi thoại và gọi video.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>XPAY Chat có thể lưu ảnh hoặc video mà bạn chọn từ hội thoại.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>XPAY Chat cần thư viện ảnh để bạn gửi ảnh và video trong hội thoại.</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>Splash</string>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
